@using System.IO;


@model IEnumerable<LAB02_ED1.Models.PlayerModel>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a> </br>
    <input id="InputFile" type="file" accept=".CSV"/>
    
    
    @{ 

        var reader = new StreamReader(File.OpenRead(@"C:\Users\jmmr1\OneDrive\Escritorio\LOL.CSV"));



        while (!reader.EndOfStream)
        {

            var line = reader.ReadLine();
            var values = line.Split(",");
            
            PlayerModel.Save(new PlayerModel
            {
                Name = values[0],
                LastName = values[1],
                Role = values[2],
                KDA = double.Parse(values[3]),
                CreepScore = int.Parse(values[4]),
                Team = values[5]
            });
        }

    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KDA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreepScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KDA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreepScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Team)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CreepScore }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CreepScore }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CreepScore })
                </td>
            </tr>

        }
    </tbody>

</table>
 
