@using System.IO;

@model IEnumerable<LAB02_ED1.Models.TeamModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <input type="file" accept=".CSV" />


    @{

        var reader = new StreamReader(File.OpenRead(@"C:\Users\jmmr1\OneDrive\Escritorio\LOLTeams.CSV"));



        while (!reader.EndOfStream)
        {

            var line = reader.ReadLine();
            var values = line.Split(",");

            TeamModel.Save(new TeamModel
            {
                TeamName = values[0],
                Coach = values[1],
                League = values[2],
                DateCreation = Convert.ToDateTime(values[3]),
                
            });
        }

    }


</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.League)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.League)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {/*id=item.Coach*/ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
